.nav {
	margin: 0;
	padding: 0;
	list-style: none;
	a, .text {
		display: block;
		padding: 6px 8px;
	}
	a {
		[class*='icon-'] {
			margin-right: 4px;
		}
	}
	&-h {
		li {
			display: inline-block;
		}
	}
	&-v {
		li {
			display: block;
		}
	}

}

.navbar {
	.container {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.row {
		min-height: 29px;
	}
}