/**
*
* Variables by moduls
* Changing values in this file or from main style file
*
**/

//Typo
//typo.less
@textSize: 1em;
@textColor: #333;
@textFormFontSize: 120%;

@defFontFamily: 'Roboto';
@headerFontFamily: 'Roboto';


//@textSize;
//Link variables
@linkDefColor: #4097cf;
@linkHoverColor: darken(@linkDefColor, 20%);
@linkVisitedColor: @linkDefColor;
@linkActiveColor: darken(@linkHoverColor, 10%);

.linkStyle(@def:@linkDefColor,@hover:@linkHoverColor,@active:@linkActiveColor,@visited:@linkVisitedColor,@underline:none,@setvisited:false) {
	text-decoration: @underline;
	color: @def;
	&:hover {
		color: @hover;
	}
	&:active {
		color: @active;
	}
	&:visited {
		.visited(@setvisited) when (@setvisited = true) {
			color: @visited;
		}
		.visited(@setvisited);
	}
}

body {
	color: @textColor;
}

//Text default style
.defFontStyle(@fontFamily:@defFontFamily) {
	font-family: @fontFamily;
	font-size: @textSize;
}

//Header variables
@headerSizeMax: 400%;
@headerSizeLower: 100%;
@headerCount: 6;
@headerDefColor: @textColor;
@headerColorize: false;

.headerFontStyle(@fontFamily:@headerFontFamily) {
	font-family: @fontFamily;
	font-size: @textSize;
	margin-bottom: @textSize / 4;
}

/******************************************/

//Form elements
//form.less
.formFont {
	.defFontStyle();
	line-height: 1em;
}

@formDefColor: #666;
@formHoverColor: darken(@formDefColor, 10%);
@formFocusColor: darken(@formDefColor, 20%);

@formDefBorderColor: #ccc;
@formHoverBorderColor: darken(@formDefBorderColor, 10%);
@formFocusBorderColor: darken(@formDefBorderColor, 20%);

@formDefBackground:#fff;
@buttonDefBackground:#aaa;
@buttonDefColor:#444;

.formInput {
	font-size: @textFormFontSize;
	background: @formDefBackground;
	color: @formDefColor;
	border: 1px solid #ccc;
	.border-radius(0);

}

.formInputFocus {
	color: @formFocusColor;
	border-color: @formFocusBorderColor;
}

.formInputHover {
	color: @formHoverColor;
	border-color: @formHoverBorderColor;
}
.formInputActive {
	color: @formHoverColor;
	border-color: @formHoverBorderColor;
}

.formButtonHover {
	color: @buttonDefColor;
	border-color: @formHoverBorderColor;
}

::selection {
	background: #ff0;
	color: @textColor;
}

/******************************************/

//Grid
//grid.less
@columnCount: 12;

@gridPadding: 5px;

@columnPadding: 0 @gridPadding;
.columnGutter(@size:@columnPadding) {
	padding: @size;
}

@containerPadding: @gridPadding * 2;
.containerGutter(@size:@containerPadding) {
	padding: @size;
}

/******************************************/

//Responsive breakpoints
//responsive.less
@breakpointLarge: 1200px;
@breakpointMedium: 980px;
@breakpointSmall: 767px;
@breakpointMini: 480px;

/******************************************/